$color-white: #fff;
$color-black: #000000;
$color-grey: #222222;

$color-blue: #005FA3;

$color-text: $color-white;
$color-bg: $color-white;

//btn
$color-btn-bg: $color-blue;
$color-btn-text: $color-white